<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="vue/vue.min.js"></script>
    <script type="text/javascript" src="fabric/fabric.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="settings">
            <div>
                <label>画布宽度:</label>
                <input type="text" placeholder="500" v-model="canvasWidth" />
                <label>画布高度:</label>
                <input type="text" placeholder="500" v-model="canvasHeight" />
            </div>
            <div>
                <label>多边形边数:</label>
                <input type="text" placeholder="4" v-model="edgesNumber" />
            </div>
            <div>

            </div>
        </div>
        <canvas id="c" v-bind:width="canvasWidth" v-bind:height="canvasHeight" v-bind:style="{width: canvasWidthPx, height: canvasHeightPx}"></canvas>
    </div>
    <script type="text/javascript" src="polygon.js"></script>
</body>

</html>